.netflix {
  width: 100%;
  min-height: 100vh;
  background-color: #555;
  color: white;
}

.netflix .navbar {
  height: 40px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.netflix .navbar .logo {
  color: darkred;
}

.netflix .navbar .user {
  font-size: 16pt;
}

.netflix .navbar img {
  border-radius: 4px;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  margin-right: 8px;
}

.netflix .featured {
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.netflix .featured .text-box {
  margin-left: 10vw;
  text-align: left;
  width: 30%;
}

.netflix .series-list .entries {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.netflix .modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.netflix .modal-fg {
  background-color: white;
  color: black;
  padding: 10px;
}
